body{
	background-color:ghostwhite;
	overflow-x:hidden;
}
#myNavbar > ul{
	margin-left:3%;
}
#bg-container {
    background: url("../images/color.jpg") no-repeat center ;
    background-size: auto 100vh;
    /*for web apps  background-size: 100vw 100vh;*/
    height: 100vh;
}
#pallet {
    width: 100vw;
    z-index: 100;
}
#pallet img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    min-height:40px;
}
.currentcoloractivity{
position:absolute;
right:2%;
top:10%;
}
.container {
    min-height: 50vh;
}
.square {
    width: 10vw;
    height: 10vw;
    background: blue;
    border-radius: 50% 50%;
}
#colors {
    margin-top: 10%;
}
.dropdown-menu > li > a {
    color: black;
}
.bluecolor {
    background: #4779ff;
}
.orangecolor {
    background: rgb(255, 120, 21);
}
.browncolor {
    background: #834f14;
}
.greencolor {
    background: green;
}
.redcolor {
    background: red;
}
.yellowcolor{
    background: yellow;
}
.violetcolor{
    background: purple;
}
.blackcolor{
    background: black;
}
.whitecolor{
    background: snow;
    border:1px solid grey;
}
.yellowcolor{
 background:yellow;
}
.storymenu {
    margin-top: 2%;
}
div.menucolors {
    height: 7vw;
    width: 7vw;
    border-radius: 50% 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
}
div#blue {
    background: #4779ff;
}
div#lightblue {
    background: #32a3ed;
}
div#darkblue {
    background: #0f20a9;
}
div#bluepearl {
    background: #02adc6;
    ;
}
.circle {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    color: white;
    text-align: center;
    display: inline-block;
}
.circle > h3 {
    width: 60%;
    margin: auto;
    padding-top: 3vh;
}
#kingfisher1 {
   
    position: relative;
    height:55vh;
   
}
#kingfisher1 img{
 position:absolute;
 right:0;
 left:0;
 bottom:-5vh;
 margin:auto;
 height:20vh;
}
#kingfisher2 {
    position: relative;
    top: 10%
}
#kingfisher3 {
    position: absolute;
    right: 9%;
    top: 10%;
}
h1 {
    color: cornflowerblue;
    margin-bottom: 5%;
}
.questions {
    font-size: 7vh;
    margin-bottom: 3%;
}
.score,
.qnumber {
    font-size: 5vh;
}
.ui-widget-overlay {
    background-color: #000000;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.ui-dialog {
    width: 30vw;
}
label {} .choices button {
    margin: 0.5vw;
}
.orangeobj {
    width: 100%;
    display: none;
    position:absolutee;
   height:10vh;
  
}
.objectset1{
height:70vh;
}
.orangeobj img {
    width: 80%;
    
  position:absolute;
}
.redobjs {
    display: inline-block;
}
.redobjs img {
    width: 100%;
   
   // margin: 0 1vw 15px 1vw;
}
#redobjs1 {
   // margin: 0 1vw 14px 1vw;
}
#grass img {
    width: 100%;
    top: 2vw;
    left:0;
    right:0;
}
#tree img {
    width: 40%;
    top: 100%%;
    right: 0;
}
#chameleon img {
    width: 25%;
    left: 1%;
    bottom: -31vw;
}
#greenobj1 img {
    position: absolute;
}
#frog img {
    width: 20%;
    top: 20vw;
    right: 30%;
}
#mantis img {
    width: 15%;
    left: 40%;
    top: 10vw;
}
#greenobj2 img{
width:100%;
}
#greenobj2 div, #greenobj3 div{
display:inline-block;
}
#greenobj3 img{
width:45%;
}
#brownobj1, #violetobj, #yellowobj{
width:100%;
margin:auto;

}
.brownobj{
	position:relative;
	width:100%;
        height:80vh;
	
}
.brownobj img{
width:80%;
position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    right:0;
    left:0;
}
.violetobj img,.yellowobj img{
width:100%;
}

#pointer{
position:absolute;
right:-10vw;
display:none;
left:0;
top:20vh;
margin:auto;
min-width:30px;
}
.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }
.zoom{
 transform: scale(1.5);
 transition-duration:2s;
 }
 .zoomout{
 transform: scale(1);
 transition-duration:2s;
 }
 .ui-dialog-titlebar-close {display: none }
 @media only screen and (max-width: 750px) {
    div.menucolors {
    width: 50px;
    height: 50px;
	}
	.col-sm-6{
	width:48%;
	margin:3% 0px;
	}
	
	#greenobj3 img{
	width:70%;
	}
	.brownobj img{
	width:100%;
	}

.screen{
	overflow:hidden;
	}
	
