@font-face {
    font-family: RaghuMalayalam;
    src: url(../../fonts/RaghuMalayalam.ttf);
}

body{
	    height:100%;
	    width:100%;
	    margin:0;
            font-family: RaghuMalayalam, Helvetica;
            overflow:hidden;
          background:url("../images/safety2.jpg") no-repeat scroll center bottom / 100vw auto;
          width:100%;
}

#volume_icon{
	    background-image: url("../images/volume.png");
        background-size: 100% 100%;
        float: left;
        height: 60%;
        left: 8px;
        position: absolute;
        width: 5%;
        cursor: pointer;
}

#lang_selection{
	
	position:relative;
	top:-5%;
    width: 30%;
}
.le_option, .level, .lan{
    border-radius:35px;
}

.lan{

	
	    font-size: 12px;
	    font-weight:bold;
        margin: 2px;
        padding: 7px 6px;
}



#main{
	
	    bottom: 0;
        height: 75vh;
        left: 0;
        margin:auto;
        padding: 0;
        position: relative;
        right: 0;
        top: 0;
        width: 100%;

	    min-width:600px;
}
header{

        color: white;
        font-size: 2.5vh;
        font-weight: bold;
        height: 9vh;
        margin-bottom: 3vh;
        min-height: 45px;
        padding-top: 2.5vh;
}
#volume_icon{
	background-image: url("../images/volume.png");
    background-size: 100% 100%;
    float: left;
    height: 60%;
    left: 8px;
    position: absolute;
    width: 5%;
    cursor: pointer;
}

#quesarea{
	
	width:100%;
	margin:auto;
	float:right;
	height:auto;
}

#button{
	     bottom: 0;
        height: 40%;
        left: 0;
        margin: auto;
        min-width: 1px;
        position: absolute;
        right: 0;
        top: 20%;
        width: 60px;
    }



#button .btn{
	
	    float: right;
        font-size: 3vh;
        margin: 2%;
    }

.innercontainer{	
        height: 73vh;
        min-height: 302px;
    }

.game{
        width:95%;
        margin:auto;
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
 
    #listing_page{
        
        background-size:100% 100%;
        height:100%;
    }
   #option1{
   		position:absolute;
   		bottom:0%;
   }
#image, #img1{
    width:100%;
    height:100%;
}
#ynbutton{
position:absolute;
width:25%;
min-width:115px;
margin:auto;
bottom:0;
right:0;
left:0;
}
.feedback{
  bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 60%;
}
footer{
    color: white;
    font-size: 3vh;
    height: 10vh;
    margin-bottom: 0;
    margin-top: 3vh;
    min-height: 45px;
    padding-top: 1.5vh;

    }


#home img {
    bottom: 6px;
    height: 6vh;
    position: absolute;
    width: 6%;
    }
 
div.timer, div.time {
    bottom: 0;
    color: #ffffff;
    height: 46px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 100px;
}

.timer div.time_circles, .time div.time_circles {
    height: 100%;
    position: relative;
    width: 100%;
    
}
#questionscreen{
	

    position: absolute;
   left:100px;
   top: 3vh;
}

#score {
   
    float: right;
    margin: 0.5vh 1vh;
    
}

#score .label{
	margin:2px;
}





